.wl-shop .cd-variation-swatches-wrapper{
    position: absolute;
    z-index: 99999;
}
.cd-variation-swatches-form .codesigner-vs-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cd-variation-swatches-form div p {
    margin: 0;
}

.codesigner-vs-radio {
    display: none;
}

.codesigner-vs-wrapper {
    padding: 10px;
}

.codesigner-tax-name {
    width: 80px;
}

.codesigner .codesigner-vs-content {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cd-variation-swatches-form {
    margin-top: -20px;
}
.cd-variation-swatches-form label {
    cursor: pointer;
}

.codesigner-vs-radio:checked + .codesigner-vs-content {
    border: 2px solid #ff0000;
}

.codesigner-vs-radio:disabled + span.codesigner-vs-content {
    background-color: #b1b1b154;
    cursor: not-allowed;
    border: 2px solid #ff000054;
}

.codesigner-vs-radio:disabled + img.codesigner-vs-content {
    filter: grayscale(80%);
    cursor: not-allowed;
}

.cd-vs-price{
    padding-top: 10px;
}
.cd-vs-message{
    display: none;
    padding: 10px;
    font-weight: 500;
    color: #000000;
}
.cd-vs-message a{
    text-decoration: none;
}
